.b-field {
  width: 100%;

  &__label {
    @include desktop-caption-14;
    color: $main-black;
    margin-bottom: 8px;
  }

  &__block {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  &__input {
    @include desktop-body-14;
    color: $main-black;
    border-radius: 3px;
    padding: 7px 10px;
    border: 1px solid $input-idle;
    caret-color: $gray;
    transition: border 0.1s ease;
    &:hover {
      border: 1px solid $main-black;
    }
    &:focus {
      border: 1px solid $input-idle;
    }
    &:disabled {
      cursor: no-drop;
      background-color: $white;
      border: 1px solid $gray;
      &::placeholder {
        color: $gray;
      }
    }

    &::placeholder {
      color: $input-idle;
    }

    &_error {
      border: 1px solid $red;
    }
  }

  &__description {
    @include desktop-body-10;
    display: none;
    &_error {
      display: block;
      color: $red;
      margin-top: 4px;
    }
  }

  &__button {
    @include desktop-caption-14;
    display: flex;
    color: $red;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    transition: color 0.1s ease;
    margin-top: 8px;

    &:hover {
      color: $orange;
    }
    &:active {
      color: $red;
    }
  }

  &__dialog {
    display: flex;
    align-items: center;
    margin-top: 24px;
    &__question {
      @include desktop-caption-14;
      color: $main-black;
      margin-right: 32px;
    }
    &__btn-wrap {
      display: flex;
    }
  }

  &__block-two {
    margin-top: 16px;
  }

  &__total {
    @include desktop-caption-14;
    color: $main-black;
  }

  &__checkbox-block {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid $input-idle;
  }

  &__checkbox {
    min-width: 20px;
    min-height: 20px;
    background-image: url(/assets/i/svg/Checkbox_normal.svg);
    margin: unset;
    margin-right: 11px;
    cursor: pointer;
    transition: all 0.1s ease;
    background-repeat: no-repeat;
    border-radius: 6px;
    border: none;

    &:hover {
      background-image: url(/assets/i/svg/Checkbox_hover.svg);
      transition: all 0.1s ease;
      background-repeat: no-repeat;
    }
    &:checked {
      background-image: url(/assets/i/svg/Checkbox_click.svg);
      background-repeat: no-repeat;
    }
    &:disabled {
      background-image: url(/assets/i/svg/Checkbox_disabled.svg);
      background-repeat: no-repeat;
      cursor: auto;
    }
  }

  &__checkbox-label {
    @include desktop-body-14;
    color: $main-black;
    cursor: pointer;
    & span {
      color: $gray;
    }
  }

  &__submit {
    display: flex;
    width: 100%;
    margin-top: 40px;
  }
}
