.b-popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease;
  z-index: 100;
  width: 100%;
  position: fixed;
  min-height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  padding: 120px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0 auto;
    width: 552px;
    padding: 32px;
    background-color: $white;
    border-radius: 30px;
    position: relative;
  }

  &__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 16px;
    top: 16px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    & svg {
      min-width: 40px;
      min-height: 40px;
    }
  }

  &__title {
    @include desktop-h3;
    color: $main-black;
  }

  &__description {
    @include desktop-body-14;
    color: $gray;
    margin-top: 16px;
  }

  &__form {
    margin-top: 24px;
  }

  &_active {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s ease;
  }
}
