// text styles
$primary-font: 'Lab Grotesque', sans-serif;

@mixin desktop-h3 {
  font-family: $primary-font;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}

@mixin desktop-body-14 {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@mixin desktop-caption-14 {
  @include desktop-body-14;
  font-weight: 500;
}

@mixin desktop-caption-16 {
  @include desktop-body-14;
  font-size: 16px;
  font-weight: 500;
}

@mixin desktop-body-10 {
  font-family: $primary-font;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

@mixin mobile-h3 {
  font-family: $primary-font;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

@mixin mobile-body-12 {
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

@mixin mobile-caption-14 {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

@mixin mobile-caption-12 {
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

//color-styles
$gray: #808080;
$main-black: #000000;
$red: #ea0029;
$white: #ffffff;
$disabled: #bec5cc;
$input-idle: #dfe3e6;
$orange: #f53a31;

$not-active: #eef0f2;
$hover: #dfe3e6;
$gradient-red: linear-gradient(255.35deg, #dc3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #ff5e56;
